.cardWrapper {
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  height: 220px;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.cardImage {
  outline: 1px solid black;
}

.link,
.link:hover {
  color: black;
}

.cardWrapper li {
  list-style-type: none;
}

.characterName {
  font-size: 2em;
  font-weight: bold;
  margin-top: 15px;
}

.characterStatus {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}