@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
  margin: 0;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 75px;
  font-size: 2em;
  font-weight: bold;
  background-color: black;
  margin-bottom: 25px;
}

header a,
header a:hover {
  text-decoration: none;
  color: white;
}
